<div class="about row">

    <div class="col-md-8">

        <h2>CV (<a href="/assets/files/Shaoyun_CV.pdf">PDF</a>)</h2>

        <h2>Contact</h2>
        <h2> </h2>
        
        <h2>我叫王少云，浙江余姚梁弄镇的乡间长大，三十多年来一路从山水之间走到实验室的光与影里。少年时喜欢拆解世界，看雨水在泥土上刻纹，沉迷那些静悄悄的秩序；后来读书、做科研，换成用数学和物理去理解同一套秩序。一路走来，我始终觉得，世界没有分门别类，只有结构和关系。</h2>

        </h2>我现在研究波与振动——它们是工程问题，也是美的问题。科研之余，我喜欢与书为伴，也喜欢观察人与人之间那些细小的善意、沉默、迟疑与勇气。它们看似琐碎，却常常比一篇公式推导更能揭示真实。</h2> 
        
        </h2>我不把自己看成只属于某个学科的人。我更愿意相信，一个人的思想是由两部分共同塑造的：一部分来自自然科学的严格推演，另一部分来自人文学科的开放与深度。我在这两者之间来回穿梭，一边试图用方程描述世界，一边试图理解世界背后的情感、选择和命运。</h2>
        
        </h2>我希望未来做的事情，既有坚实的理论，也有温度；既有探索的勇气，也有理解的耐心。无论在科研，还是在生活里，我都相信一个简单的原则：
        保持诚实，保持好奇，让思想在深处扎根，让行动在现实中生长。</h2>

    </div>

    <div class="col-md-4">
        <img src="assets/images/IMG_018512.png" style="width: 100%; border-radius: 4px 4px 0 0;">
    </div>

    

    <!-- <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div> -->

</div>